
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    
    <script>
        $(window).scroll(function(){
            if($window).scrollTop()){
                $("nav").addClass("black");
            } else {
                $("nav").removeClass("black");
            }
        });  
    </script>
    
    <section id="footer">
        <div class="footer container">
            <div class="brand">
                <h1> Elijah Hallera</h1>
            </div>
            <h2 style="padding-bottom: 50px"> Computer Science Student </h2>
            <p>Copyright © 2022 Hallera. All rights reserved </p>
        </div>
        
    </section>
    
    <script src="./application.js"></script>
  </body>
</html>