<%- include ('partials/header'); -%>

<div class="bg">
	<div class="centered">
		<div class="borderlines">
			<h3> About Me </h3>
		</div>
		
		<nav> 
			<a href= "/"> <button class="button btn btn-default"> Home </button></a>
			<a href= "/about"> <button class="button btn btn-default"> About </button></a> 
			<a href= "/projects"> <button class="button btn btn-default"> Projects </button></a>
			<a href= "/contact"><button class="button btn btn-default"> Contact </button></a>
			<br>
			<br>
			<img class="profilePicture" src="https://avatars.githubusercontent.com/u/57295509?s=400&u=3b1ef03daaf17f741db8d05c74c84652077f7d9b&v=4">
		</nav>
	</div>	
</div>