<%- include ('partials/header'); -%>

<!--

<div class="bg">
	<div class="centered">
		
		<div class="borderlines">
			<h3> Elijah Hallera </h3>
			<h2> Software Developer/Engineer</h2>
		</div>
		
		<nav> 
			<a href= "/"> <button class="button btn btn-default"> Home </button></a>
			<a href= "/about"> <button class="button btn btn-default"> About </button></a> 
			<a href= "/projects"> <button class="button btn btn-default"> Projects </button></a>
			<a href= "/contact"><button class="button btn btn-default"> Contact </button></a>
			</br>
			<a href="https://github.com/ElijahHallera"> <img class="gitIcon" src="images/git2.png"></a>
			<a href="https://www.linkedin.com/in/elijah-hallera-892278199/"><img class="linkedIcon" src="images/LinkedInLogo.png"></a>
		</nav>
	</div>
	
</div>

-->

<!-- NEW TEMPLATE FOR WEBSITE -->
<div class="wrapper" id="home">

	<!-- Navigation Bar ---->
	<div class="overlay">
		<nav>
			<div class="menu" id="leftMenu">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#projects">Projects</a></li>
				</ul>	
			</div>
			<div class="menu" id="rightMenu">
				<ul>
					<li><a href="#contact">Contact: </a></li>
					<li><a href="#https://www.linkedin.com/in/elijah-hallera-892278199/">Github </a></li>
					<li><a href="#contact">LinkedIn </a></li>
					<li><a href="#contact">Email </a></li>
				</ul>
			</div>
		</nav>
	</div>
		
	
	<div id="about" class="container">
		</br>
		</br>
		<div class="content">
			<h1>Elijah Hallera</h1>
			<h4>Software Engineer | Computer Science Student </h4>
			<hr>
		</div>
		<div>
			<h2>About Me</h2>
			<p>I'm a Bellevue-based software engineer who is experienced in building and designing both website and mobile applications.</p>
			<p>Currently, I am a computer science student at California State University, Monterey Bay.</p>
		</div>
	</div>
	
	<div id="projects">
		</br>
		<div class="content">
			<h1>Projects</h1>
		</div>
		<div class="row">
			<div class="column"> A </div>
			<div class="column"> B </div>
			<div class="column"> A </div>
			<div class="column"> B </div>
		</div>
		<div class="row">
			<div class="column"> A </div>
			<div class="column"> B </div>
			<div class="column"> A </div>
			<div class="column"> B </div>
		</div>
	</div>
	
	</br>
	<div id="resume">
		</br>
		<div class="content">
			<h1>Resume</h1>
		</div>
		
		<div class="container p-2 my-2 border">
			<div class="resume">
				<a href="https://docs.google.com/document/d/1NkaWLLU5wqK2roYRNF0tDCAEND9lEf8QKTqOV8ZoVJM/edit?usp=sharing">
					<img width="300" src="https://lh5.googleusercontent.com/Z8Z4eFZMm32tGyQjFLIYew8n9T3HJHBd7N1wVpJSWalG8NgBfVEjIIaFw1t0hW2RI-zWeegPzQ=w1200-h630-p">
				</a>
			</div>	
		</div>
	</div>
	
	</br>
	<div id="contact">
		</br>
		<div class="content">
			<h1>Contact</h1>
		</div>
	</div>
	
	<div class="centered">
		</br>
		<a href="https://github.com/ElijahHallera"> <img class="gitIcon" src="images/git2.png"></a>
		<a href="https://www.linkedin.com/in/elijah-hallera-892278199/"><img class="linkedIcon" src="images/LinkedInLogo.png"></a>	
	</div>
	</br>
	</br>
	
</div>