<%- include ('partials/header'); -%>

<!-- Navigation Bar Start -->
<section id="NavigationBar">
    <div class="NavigationContainer">
		<ul class="Navigation">
		  <li><a href="#landing">Home</a></li>
		  <li><a href="#about">About</a></li>
		  <li><a href="#projects">Projects</a></li>
		  <li><a href="#contact">Contact</a></li>
		</ul>
    </div>
</section>
<!-- Navigation Bar End -->

<!-- Landing Section Start -->
<section id = "landing">
	<div class="landing container">
		<div>
				<h1>Hello, <span></span></h1>
				<h1>My name is <span></span></h1>
				<h1>Elijah Hallera<span></span></h1>
				<!-- call to action = cta -->
				<a href="#projects" type="button" class="cta">Portfolio</a>
			</div>
		</div>
	</section>
<!-- Landing Section Ending -->

<!-- About Me Section Start -->
<section id="about">
	<div class="about container">
		<div class="col-left">
			<div class="about-img">
				<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH" style="width: 400px, height: 400px;">
			</div>
		</div>
		</br>
		<div class="col-right">
			<h1 class="section-title"> About <span>Me</span></h1>
			<h2>Software Engineer Student</h2>
			<p> Green vines attached to the trunk of the tree had wound themselves toward the top of the canopy. 
			Ants used the vine as their private highway, avoiding all the creases and crags of the bark, to freely move at top speed from top to bottom or bottom to top depending on their current chore. 
			At least this was the way it was supposed to be. Something had damaged the vine overnight halfway up the tree leaving a gap in the once pristine ant highway. </p>
			<a href="https://docs.google.com/document/d/1NkaWLLU5wqK2roYRNF0tDCAEND9lEf8QKTqOV8ZoVJM/edit?usp=sharing" class="cta" download="Hallera_Resume">Download Resume</a>
		</div>
		
	</div>
</section>
<!-- About Me Section Ending -->

<!-- Project Section Start -->
<section id="projects">
	<div class="projects container">
		<div class="projects-Navigation">
			<h1 class="section-title">Recent <span>Projects</span></h1>
		</div>
		<div class="all-projects">
			<div class="project-item">
				<div class="project-information">
					<h1>Project 1</h1>
					<h2>Monster Land</h2>
					<p>Developed a RPG hack and slash video game using C#.</p>
					<a href="https://github.com/ElijahHallera/CST326-Final-Project" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="https://smalltotall.info/wp-content/uploads/2017/04/google-favicon-vector-400x400.png" alt="image">
				</div>
			</div>
			<div class="project-item">
				<div class="project-information">
					<h1>Project 2</h1>
					<h2>Hackathon TwitterBot</h2>
					<p>As a team of five, we utilized communication and efficiency to brainstorm ideas and develop a project within a strict deadline. Our goal was to improve how information reaches the community.</p>
					<a href="https://devpost.com/software/monterey-bay-bot" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="/images/TwitterBot.png" alt="image">
				</div>
			</div>
			<div class="project-item">
				<div class="project-information">
					<h1>Project 3</h1>
					<h2>NASA Image Generator</h2>
					<p>This App/Website will parse data from an API using JSON to randomly generate and display an image from NASA including filtered versions of the image.</p>
					<a href="https://github.com/ElijahHallera/205Proj" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="/images/NASA.png" alt="image">
				</div>
			</div>
			<div class="project-item">
				<div class="project-information">
					<h1>Project 4</h1>
					<h2>City of Watsonville Nature Center - Web Developer</h2>
					<p>Hello this is a paragraph</p>
					<a href="https://naturecenter9.wixsite.com/my-site" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="/images/WixPhoto.PNG" alt="image">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Project Section Ending -->

<!-- Contact Section Starting -->
<section id="contact">
	<div class="contact container">
		<div><h1 class="section-title">Contact <span>Information</span></h1></div>
		<div class="contact-items">
			<div class="contact-item">
				<div class="icon">
					<a  href="https://github.com/ElijahHallera">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" width="70px" height="70px">
					</a>
				</div>
				<div class="contact-info">
					<a  href="https://github.com/ElijahHallera">
						<h1 style="color: black">Github</h1>
					</a>
				</div>
			</div>
			<div class="contact-item">
				<div class="icon">
					<a href="https://www.linkedin.com/in/elijah-hallera-892278199/">
						<img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="70px" height="70px">
					</a>
				</div>	
				<div class="contact-info">
					<a href="https://www.linkedin.com/in/elijah-hallera-892278199/">
						<h1 style="color: black">LinkedIn</h1>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Contact Section Ending -->

<%- include ('partials/footer'); -%>