<%- include ('partials/header'); -%>

<!-- Navigation Bar Start -->
<section id="NavigationBar">
    <div class="NavigationContainer">
		<ul class="Navigation">
		  <li><a href="#landing">Home</a></li>
		  <li><a href="#about">About</a></li>
		  <li><a href="#projects">Projects</a></li>
		  <li><a href="#contact">Contact</a></li>
		</ul>
    </div>
</section>
<!-- Navigation Bar End -->

<!-- Landing Section Start -->
<section id = "landing">
	<div class="landing container">
		<div>
				<h1>Hello, <span></span></h1>
				<h1>My name is <span></span></h1>
				<h1>Elijah Hallera<span></span></h1>
				<!-- call to action = cta -->
				<a href="#projects" type="button" class="cta">Portfolio</a>
			</div>
		</div>
	</section>
<!-- Landing Section Ending -->

<!-- About Me Section Start -->
<section id="about">
	<div class="about container">
		<div class="col-left">
			<div class="about-img">
				<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201802/portfolio.jpeg?FiDuEq_3VnAh8wxpLykw3aWI.eIslcbH" style="width: 400px, height: 400px;">
			</div>
		</div>
		</br>
		<div class="col-right">
			<h1 class="section-title" style="border-bottom: 5px solid black"> About <span>Me</span></h1>
			</br>
			<!--<h2>Software Engineer Student</h2>-->
				<p style="font-size: 20px"> I'm Elijah, a software engineer based in Bellevue, WA. </p>
				<p style="font-size: 20px">I have programming experience in both frontend and backend development. I have worked on a variety of projects within web, mobile, and game development.</p>
				<p style="font-size: 20px">My goal is to use my ever increasing knowledge of programming, in order to innovate software designs and provide a better user experience with technology. 
					I'm most passionate about video games and how it brings entertainment to everyone.</p>
				<p style="font-size: 20px">I am currently studying at California State University, Monterey Bay.</p>
			<a href="https://docs.google.com/document/d/1NkaWLLU5wqK2roYRNF0tDCAEND9lEf8QKTqOV8ZoVJM/edit?usp=sharing" class="cta" download="Hallera_Resume">Download Resume</a>
		</div>
		
	</div>
</section>
<!-- About Me Section Ending -->

<!-- Project Section Start -->
<section id="projects">
	<div class="projects container">
		<div class="projects-Navigation">
			<h1 class="section-title" style="border-bottom: 5px solid black">Recent <span>Projects</span></h1>
		</div>
		<div class="all-projects">
			<div class="project-item">
				<div class="project-information">
					<h1>Project 1</h1>
					<h2>Monster Land</h2>
					<p>Developed a RPG hack and slash video game that included a User Interface, navigation pages,
						sound/music, animations, level layouts, and enemy/player mechanics.</p>
					</br>
					<h2>Tech used: C#, Unity Engine, VS Code</h2>
					<a href="https://github.com/ElijahHallera/CST326-Final-Project" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="/images/monsterLand.png" alt="image">
				</div>
			</div>
			<div class="project-item">
				<div class="project-information">
					<h1>Project 2</h1>
					<h2>Hackathon TwitterBot</h2>
					<p>As a team of five, we utilized communication and efficiency to brainstorm ideas and develop a project within a strict deadline. Our goal was to improve how information reaches the community.</p>
					</br>
					<h2>Tech used: Python, AWS, VS Code</h2>
					<a href="https://devpost.com/software/monterey-bay-bot" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="/images/TwitterBot.png" alt="image">
				</div>
			</div>
			<div class="project-item">
				<div class="project-information">
					<h1>Project 3</h1>
					<h2>NASA Image Generator</h2>
					<p>This App/Website will parse data from an API using JSON to randomly generate and display an image from NASA including filtered versions of the image.</p>
					</br>
					<h2>Tech used: Python, JSON, VS Code, Trello</h2>
					<a href="https://github.com/ElijahHallera/205Proj" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="/images/NASA.png" alt="image">
				</div>
			</div>
			<div class="project-item">
				<div class="project-information">
					<h1>Project 4</h1>
					<h2>City of Watsonville Nature Center - Web Developer</h2>
					<p>Spent 4 months designing a new website to provide a updated and modern look along with easier access to information for residents of Watsonville.</p>
					</br>
					<h2>Tech used: Wix, Javascript</h2>
					<a href="https://naturecenter9.wixsite.com/my-site" class="cta" >View Source</a>
				</div>
				<div class="project-image">
					<img src="/images/WixPhoto.PNG" alt="image">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Project Section Ending -->

<!-- Contact Section Starting -->
<section id="contact">
	<div class="contact container">
		<div><h1 class="section-title" style="border-bottom: 5px solid black">Contact <span>Information</span></h1></div>
		<div class="contact-items">
			<div class="contact-item">
				<div class="icon">
					<a  href="https://github.com/ElijahHallera">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" width="70px" height="70px">
					</a>
				</div>
				<div class="contact-info">
					<a  href="https://github.com/ElijahHallera">
						<h1 style="color: black">Github</h1>
					</a>
				</div>
			</div>
			<div class="contact-item">
				<div class="icon">
					<a href="https://www.linkedin.com/in/elijah-hallera-892278199/">
						<img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="70px" height="70px">
					</a>
				</div>	
				<div class="contact-info">
					<a href="https://www.linkedin.com/in/elijah-hallera-892278199/">
						<h1 style="color: black">LinkedIn</h1>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Contact Section Ending -->

<%- include ('partials/footer'); -%>