<%- include ('partials/header'); -%>

<div class="bg">
	<div class="centered">
		<div class="borderlines">
			<h3> Projects </h3>
		</div>
		
		<nav> 
			<a href= "/"> <button class="button btn btn-default"> Home </button></a>
			<a href= "/about"> <button class="button btn btn-default"> About </button></a> 
			<a href= "/projects"> <button class="button btn btn-default"> Projects </button></a>
			<a href= "/contact"><button class="button btn btn-default"> Contact </button></a>
		</nav>
	</div>	
</div>